<div id="<%= dom_id station %>">
  <p>
    <strong>Id station:</strong>
    <%= station.id_station %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= station.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= station.longitude %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= station.cp %>
  </p>

  <p>
    <strong>Pop:</strong>
    <%= station.pop %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= station.adresse %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= station.ville %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= station.services %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= station.prix %>
  </p>

  <p>
    <strong>Horaires:</strong>
    <%= station.horaires %>
  </p>

  <p>
    <strong>Geom:</strong>
    <%= station.geom %>
  </p>

  <p>
    <strong>Gazole maj:</strong>
    <%= station.gazole_maj %>
  </p>

  <p>
    <strong>Gazole prix:</strong>
    <%= station.gazole_prix %>
  </p>

  <p>
    <strong>Sp95 maj:</strong>
    <%= station.sp95_maj %>
  </p>

  <p>
    <strong>Sp95 prix:</strong>
    <%= station.sp95_prix %>
  </p>

  <p>
    <strong>E85 maj:</strong>
    <%= station.e85_maj %>
  </p>

  <p>
    <strong>E85 prix:</strong>
    <%= station.e85_prix %>
  </p>

  <p>
    <strong>Gplc maj:</strong>
    <%= station.gplc_maj %>
  </p>

  <p>
    <strong>Gplc prix:</strong>
    <%= station.gplc_prix %>
  </p>

  <p>
    <strong>E10 maj:</strong>
    <%= station.e10_maj %>
  </p>

  <p>
    <strong>E10 prix:</strong>
    <%= station.e10_prix %>
  </p>

  <p>
    <strong>Sp98 maj:</strong>
    <%= station.sp98_maj %>
  </p>

  <p>
    <strong>Sp98 prix:</strong>
    <%= station.sp98_prix %>
  </p>

  <p>
    <strong>Carburants disponibles:</strong>
    <%= station.carburants_disponibles %>
  </p>

  <p>
    <strong>Carburants indisponibles:</strong>
    <%= station.carburants_indisponibles %>
  </p>

  <p>
    <strong>Horaires automate 24 24:</strong>
    <%= station.horaires_automate_24_24 %>
  </p>

  <p>
    <strong>Services service:</strong>
    <%= station.services_service %>
  </p>

  <p>
    <strong>Departement:</strong>
    <%= station.departement %>
  </p>

  <p>
    <strong>Code departement:</strong>
    <%= station.code_departement %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= station.region %>
  </p>

  <p>
    <strong>Code region:</strong>
    <%= station.code_region %>
  </p>

</div>
